/node_modules
/public/hot
/public/storage
/public/themes
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/vendor
.vscode
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
.DS_Store
*.map
style.css.map
style_neha.css.map

# Prevent committing large archive added by mistake
/multi-vendor.zip

# Frontend (Nuxt)
/frontend/node_modules
/frontend/.nuxt
/frontend/.output
